body 
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary
{
  background-color: #51a398 !important;
  border-color: #51a398 !important;
}

.title-text 
{
  color: #1C2826;
}

.custom-margin-top
{
	margin-top: 5%;
}

.custom-padding-top
{
	padding-top: 5%;
}

.background-1
{
	/*background-color: #bed8d4;*/
}

.background-2
{
	background-color: #bed8d4;
}

.background-3
{
	background-color: #A2C523;
}

.background-4
{
	background-color: #7D4427;
}